.ad-space {
  border: 23px solid #CDEEFF;
  background: #FBFFCC;
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 34px 22px;
}

.ad-space .ad-title {
  text-align: center;
  max-width: 220px;
  font-size: 40px;
}

.ad-space .ad-content {
  width: 62%;
  display: flex;
  justify-content: space-around;
}

.ad-space .ad-content img {
  height: 320px;
}

/* Media Query Versión Movil */

@media (max-width: 1100px) {
  .row-ad-space {
    display: none;
  }
}