@font-face {
  font-family: 'SaturnoEfimero';
  src: url('../font/Saturno.woff') format('woff'), /* Modern Browsers */
       url('../font/Saturno.ttf')  format('truetype') /* Safari, Android, iOS */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-size: 20px;
  font-family: 'SaturnoEfimero';
}

body {
  background: #FEE0E0;
}

/* Scroll bar */

::-webkit-scrollbar{
  width:15px;
  background-color:#b9d8e7;
}
::-webkit-scrollbar-thumb{
  -webkit-border-radius:5px;
  border-radius:5px;
  background-color:#b9d8e7;
}
::-webkit-scrollbar-track{
  -webkit-border-radius:0;
  border-radius:0;
  background-color:#ffffff;
}

/* Personalización de Bootstrap */

.row {
  margin: 0px;
}

button {
  outline: none !important;
  border: none;
  cursor: pointer;
}

/* Media Query Versión Movil */

@media (max-width: 1100px) {
  ::-webkit-scrollbar{
    width:15px;
    background-color:#dceef7;
  }
  ::-webkit-scrollbar-thumb{
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#dceef7;
  }
  ::-webkit-scrollbar-track{
    -webkit-border-radius:0;
    border-radius:0;
    background-color:#8ba8b6;
  }

  body {
    background: #FFF;
  }
}