.nav-web {
  margin: 40px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo */

.nav-web a img {
  height: 140px;
}

/* Menú */

.nav-web ul {
  margin: 0px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.nav-web ul li {
  max-width: 140px;
  list-style: none;
  margin: 0px 35px;
  display: flex;
  align-items: center;
}

.nav-web ul li a, a:hover {
  font-size: 36px;
  color: #000;
  text-decoration: none;
  position: relative;
}

/* Barra del hover */

.nav-web ul li a hr {
  position: absolute;
  bottom: -20px;
  border: none;
  left: 0;
  width: 100%;
  background: #FCFFB6;
  padding: 3.5px 0px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity ease 300ms;
}

.nav-web ul li a:hover hr,
.nav-web ul li .nav-active hr {
  opacity: 1;
}

/* Items de texto largo */

.nav-web ul li .long-item {
  font-size: 24px;
  text-align: center;
}

.nav-web ul li .long-item hr {
  bottom: -24px;
}